<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iodapp.activities"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    

    <application
        android:name=".Sharedpref"
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.opentok.android.demo.config.ClearNotificationService"
            android:exported="false" >
            <intent-filter android:label="@string/clearNotificationService" >
                <action android:name="com.opentok.android.demo.config.ClearNotificationService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.example.healthy_hamesha.Demo_medi_alert"
            android:label="Reminder" >
        </activity>
        <activity
            android:name="com.opentok.android.demo.opentoksamples.OpenTokSamples"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DoctorAvailableActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CreateAccountActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".ForgetPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Listvideo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".PaymentGatwayActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InternetConnectionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SamplePaymentgetway"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".OrderPlaceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".VideoDemo"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.firstdata.globalgatewaye4.GlobalGatewayE4"
            android:exported="false" />
        <service
            android:name="com.firstdata.globalgatewaye4.Environment"
            android:exported="false" />
        <service
            android:name="com.firstdata.globalgatewaye4.Request"
            android:exported="false" />
        <service
            android:name="com.firstdata.globalgatewaye4.Response"
            android:exported="false" />
        <service
            android:name="com.firstdata.globalgatewaye4.TransactionType"
            android:exported="false" />
        <service
            android:name="com.firstdata.globalgatewaye4.CheckRequest"
            android:exported="false" />
        <service
            android:name="com.firstdata.globalgatewaye4.CheckType"
            android:exported="false" />
        <service
            android:name="com.firstdata.globalgatewaye4.Configuration"
            android:exported="false" />
        <!-- <service -->
        <!-- android:name="org.apache.commons.lang.Validate" -->
        <!-- android:exported="false" /> -->

        <activity
            android:name="com.opentok.android.demo.opentoksamples.HelloWorldActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="com.opentok.android.demo.opentoksamples.OpenTokHelloWorld" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opentok.android.demo.opentoksamples.UIActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="com.opentok.android.demo.opentoksamples.OpenTokHelloWorldUI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opentok.android.demo.opentoksamples.SessionUIActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="com.opentok.android.demo.opentoksamples.OpenTokHelloWorldUI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opentok.android.demo.opentoksamples.VideoCapturerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="com.opentok.android.demo.opentoksamples.OpenTokCapturer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opentok.android.demo.opentoksamples.VideoRendererActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="com.opentok.android.demo.opentoksamples.OpenTokRenderer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opentok.android.demo.opentoksamples.MultipartyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="com.opentok.android.demo.opentoksamples.OpenTokSubclassing" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opentok.android.demo.opentoksamples.VoiceOnlyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="com.opentok.android.demo.opentokhelloworld.VoiceOnlyActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.opentok.android.demo.opentoksamples.AudioDeviceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="com.opentok.android.demo.opentoksamples.AudioDeviceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ParentForFragment"
            android:label="@string/title_activity_parent_for_fragment" >
        </activity>
        <activity
            android:name=".ContentActivity"
            android:label="@string/title_activity_content" >
        </activity>
        <activity
            android:name=".YouTubeDemo"
            android:label="@string/title_activity_you_tube_demo" >
        </activity>
        <activity
            android:name=".ImageAndDescription"
            android:label="@string/title_activity_image_and_description" >
        </activity>
        <activity
            android:name=".CallWaiting"
            android:label="@string/title_activity_call_waiting" >
        </activity>
        <activity
            android:name=".RatingDoctor"
            android:label="@string/title_activity_rating_doctor" >
        </activity>
        <activity
            android:name=".Test"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".AdditionalDetails"
            android:label="@string/title_activity_additional_details" >
        </activity>
        <activity
            android:name=".MyAccount"
            android:label="@string/title_activity_my_account" >
        </activity>
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name=".ScheduleAppintment"
            android:label="@string/title_activity_schedule_appintment" >
        </activity>
        <activity
            android:name=".BookAppointment"
            android:label="@string/title_activity_book_appointment" >
        </activity>
        <activity
            android:name=".SchedualFragment"
            android:label="@string/title_activity_schedual_fragment" >
        </activity>
        <activity
            android:name=".DeleteAppointment"
            android:label="@string/title_activity_delete_appointment" >
        </activity>
        <activity
            android:name=".CallHistory"
            android:label="@string/title_activity_call_history" >
        </activity>
        <activity
            android:name=".OrderHistory"
            android:label="@string/title_activity_order_history" >
        </activity>
        <activity
            android:name=".UpdateProfile"
            android:label="@string/title_activity_update_profile" >
        </activity>
        <activity
            android:name=".FirstRun"
            android:label="@string/title_activity_first_run" >
        </activity>
        <activity
            android:name=".TransmoreDetails"
            android:label="Payment Details" >
        </activity>
        <activity
            android:name=".TransMoreRemove"
            android:label="@string/title_activity_trans_more_remove" >
        </activity>
        <activity
            android:name=".UnsuscribePlan"
            android:label="@string/title_activity_unsuscribe_plan" >
        </activity>
        <activity
            android:name=".Helathprofile"
            android:label="@string/title_activity_helathprofile" >
        </activity>
        <activity
            android:name=".PricingPlan"
            android:label="@string/title_activity_pricing_plan" >
        </activity>
        <activity
            android:name=".MonthlyPlanActivity"
            android:label="Monthly Plan" >
        </activity>
        <activity
            android:name=".OneTimeLocal"
            android:label="One Time International Plan" >
        </activity>
        <activity
            android:name=".OneTimeInternationl"
            android:label="One Time Local Plan" >
        </activity>
        <activity
            android:name=".Change_pwd"
            android:label="@string/title_activity_change_pwd" >
        </activity>
        
        
          <activity
            android:name=".Demo_Apointment_alert"
            android:label="Reminder" >
        </activity>
    </application>

</manifest>
