<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.grandma1"
    android:versionCode="1"
    android:versionName="1.0" >

<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
	 <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.grandma1.TogetherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.grandma1.MainActivity"
            android:label="@string/app_name">
            </activity>
                 <activity  
                     android:name="com.example.grandma1.PrepopSqliteDbActivity" android:configChanges="keyboard|keyboardHidden|orientation">
                      </activity>
                      <activity  
                     android:name="com.example.grandma1.medisqlitedb" android:configChanges="keyboard|keyboardHidden|orientation">
                      </activity>
                      <activity
                      android:name="com.example.grandma1.ddsqlite" android:configChanges="keyboard|keyboardHidden|orientation">
                      </activity>
         
         <activity  
                     android:name="com.example.grandma1.placedetails" android:configChanges="keyboard|keyboardHidden|orientation">
                      </activity>
         <activity  
                     android:name="com.example.grandma1.CheckInActivity" android:configChanges="keyboard|keyboardHidden|orientation">
                      </activity>
         <activity  
                     android:name="com.example.grandma1.HelpOverlay" android:configChanges="keyboard|keyboardHidden|orientation">
                      </activity>
                      
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyApu_hTO6pztTZeJrHhG5P2RuINw4fx_Rs"/>
    </application>

</manifest>
